*{box-sizing:border-box}
@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,400i&subset=cyrillic';

.form-wrap {
    width: 550px;
    background: #ffd500;
    border-radius: 20px;

}

.profile {
    width: 240px;
    float: left;
    text-align: center;
    padding: 30px;
}
form {
    background: white;
    float: left;
    width: calc(100% - 240px);
    padding: 30px;
    border-radius: 0 20px 20px 0;
    color: #7b7b7b;
}
.form-wrap:after, form div:after {
    content: "";
    display: table;
    clear: both;
}
form div {
    margin-bottom: 15px;
    position: relative;
}
h1 {
    font-size: 24px;
    font-weight: 400;
    position: relative;
    margin-top: 50px;
}

label, span {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
}
input[type="text"],input[type="number"], input[type="email"],input[type="date"]{
    width: 100%;
    padding: 10px 15px;
    border-width: 0;
    background: #e6e6e6;
    outline: none;
    margin: 0;
}
input[type="text"]:focus, input[type="date"],input[type="email"],input[type="number"]:focus {
    box-shadow: inset 0 0 0 2px rgba(0,0,0,.2);
}

select {
    width: 100%;
    cursor: pointer;
    padding: 10px 15px;
    outline: 0;
    border: 0;
    background: #e6e6e6;
    color: #7b7b7b;
    -webkit-appearance: none;
    -moz-appearance: none;
}
select::-ms-expand {
    display: none;
}
.select-arrow {
    position: absolute;
    top: 38px;
    right: 15px;
    width: 0;
    height: 0;
    pointer-events: none;
    border-style: solid;
    border-width: 8px 5px 0 5px;
    border-color: #7b7b7b transparent transparent transparent;
}
button {
    padding: 10px 0;
    border-width: 0;
    display: block;
    width: 120px;
    margin: 25px auto 0;
    background: #60e6c5;
    color: white;
    font-size: 14px;
    outline: none;
    text-transform: uppercase;
}
