<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Add author</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/home.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/forInfo.css}">
</head>
<body>

<div th:replace="menu.html :: menu"></div>
<div class="form-style-10">
    <div class="img">
        <img th:src="@{/static/images/Author.png}" width="120" height="120">
        <h2>Author</h2>
    </div>
    <form action="/add-author" th:object="${author}" method="post">

        <div class="section"><span>1</span>Name & Surname & Patronymic</div>
        <div class="inner-wrap">
            <span th:if="${#fields.hasErrors('nameAuthor')}" th:errors="*{nameAuthor}" style="color:red; margin-top: 10%"></span>
            <label>Author name
                <input type="text" required pattern=^[A-Z]{1}[a-z]+$
                       placeholder="Only english letters" th:field="*{nameAuthor}"/></label>
            <span th:if="${#fields.hasErrors('patronymic')}" th:errors="*{patronymic}"
                  style="color:red; margin-top: 10%"></span>
            <label>Author patronymic
                <input type="text" required pattern=^[A-Z]{1}[a-z]+$
                       placeholder="Only english letters" th:field="*{patronymic}"/></label>
            <span th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"
                  style="color:red; margin-top: 10%"></span>
            <label>Author surname
                <input type="text" required pattern=^[A-Z]{1}[a-z]+$
                       placeholder="Only english letters" th:field="*{surname}"/></label>

        </div>
        <div class="section"><span>2</span>Birthday</div>
        <div class="inner-wrap">
            <span th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}"
                  style="color:red; margin-top: 10%"></span>
            <label>Birthday
                <input type="date" required th:field="*{birthday}"/></label>
        </div>

        <div class="button-section">
            <input type="submit" value="Add"/>
        </div>
    </form>
</div>
</body>
</html>

