
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>add author</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/home.css}">
</head>
<body>
<div th:replace="menu.html :: menu"></div>

<div class="form-wrap">
    <div class="profile"><img th:src="@{/static/images/Author.png}" width="160" height="230">
        <h1>Автор</h1>
    </div>
    <form method="post" action="form.php">
        <div>
            <label>Имя</label>
            <input type="text" name="name" required pattern=^[A-Z]{1}[a-z]+$>
        </div>

        <div>
            <label>Surname</label>
            <input type="text" name="surname"  pattern=^[A-Z]{1}[a-z]+$ required>
        </div>
        <div>
            <label>Birthday</label>
            <input  type="date"  name="birthday" required>
        </div>
        <button type="submit">Отправить</button>
    </form>
</div>
</body>
</html>
