<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Main</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" th:href="@{/static/images/icons/home.ico}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/home.css}">
</head>
<body>

<div th:replace="menu.html :: menu"></div>
<table>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Average rating</th>
        <th>My rating</th>
        <th></th>
        <th></th>
    </tr>
    <tr th:each="books : ${book}">
        <td th:utext="${books.book_user.name}"></td>
        <td th:utext="${books.book_user.author.surname}"></td>
        <td th:utext="${books.rating}"></td>
        <td th:utext="${books.rating}"></td>
        <td><a class="c" th:href="@{'/info-book/' + ${books.book_user.id}}">Open</a></td>
        <td><a class="c" th:href="@{'/delete/' + ${books.book_user.id}}">Delete</a></td>

    </tr>
</table>
</body>
</html>
