<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Info author</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/home.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/forInfo.css}">
</head>
<body >
<div th:replace="menu.html :: menu"></div>
<div class="form-style-10">
    <div class="section"><span>1</span>Information</div>
    <div class="inner-wrap" >
        <label>Name:
            <output th:text="${author.nameAuthor}"></output>
        </label>
        <label>Patronymic:
            <output th:text="${author.patronymic}"></output>
        </label>
        <label>Surname:
            <output th:text="${author.surname}"></output>
        </label>
        <label>Birthday:
            <output th:text="${author.birthday}"></output>
        </label>
    </div>
    <div class="section"><span>2</span>Books</div>
    <div class="inner-wrap" >
        <label th:each="book : ${author.books}">book:
            <a target="_blank"  th:text="${book.name}" th:href="@{'/info-book/'+${book.id}}" style="margin-left: 2%"></a>
        </label>
    </div>

</div>
</body>
</html>